.add-content
  margin-top 14px
  float left
  margin-left 14px
  width 360px
  transition opacity 0.5s
  opacity 0.3
  &:hover
    opacity 1

  button
    width 110px
    cursor pointer
    border-top-right-radius 20px
    border-bottom-right-radius 20px
    border 0
    padding 4px 14px
    background #dab86f
    color #3f4247
    opacity 0.8
    transition opacity 0.2s
    &:hover
      opacity 1

  input
    height 27px
    width calc(100% - 110px)
    border-top-left-radius 20px
    border-bottom-left-radius 20px
    border none
    background-color $primary_color4
    color $font_color1
    padding-left 14px

