.audio-player
  z-index 100
  position fixed
  width 100vw
  bottom 0
  background-color #111111
  height 55px
  border-top 1px solid $layout_border_color

  #intro
    width 100%
    height auto

  #idle
    width 100%
    margin-top 17px
    text-align center
    font-size $font_m

  #container
    width 100%
    height auto

  #playButton
    width 44px
    height 44px
    float left
    margin-left 10px
    margin-top 6px

  #progressBar
    width calc(100% - 130px)
    height 20px
    float left
    margin-left 10px
    margin-right 10px
    margin-top 17px

  #volumeControl
    width 44px
    height 44px
    float right
    margin-top 2px
    margin-right 10px

  #title
    position absolute
    margin-top 17px
    width 100%
    text-align center
    color black
    pointer-events none
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
