.audio-player
  z-index 100
  position fixed
  width 100vw
  bottom 0
  background-color #111111
  height 55px
  border-top 1px solid $layout_border_color

  audio
    display inline-block
    width 70%
    height 75%
    margin 0px
    padding 0px
    float left

  ul
    margin-top 8px
    vertical-align top
    display inline-block
    float right
    margin-right 10px
    margin-top 10px
    font-size $font_ss
    li
      display inline-block
      margin-left 4px
      button
        cursor pointer
        border 0
        background $primary_color1
        color $font_color2
        width 40px
        height 30px
        display inline-block
        border-radius 10%
        opacity 0.8
        font-size $font_s
        &:hover
          opacity 1
        &.active
          background #fffce0
          color #3e4147
          opacity 1
