.audio-player
  z-index 100
  position fixed
  width 100vw
  bottom 0
  background-color #111111
  height 55px
  border-top 1px solid $layout_border_color

  #intro
    width 100%
    height auto

  #idle
    width 100%
    margin-top 17px
    text-align center
    font-size $font_m

  #container
    width 100%
    height auto

  #playButton
    position absolute
    width 44px
    height 44px
    margin-left 10px
    margin-top 6px

  #progressBar
    position absolute
    width calc(100% - 180px)
    height 20px
    margin-left 64px
    margin-top 19px
    border-radius: 6px;
    overflow: hidden;

  #volumeControl
    position absolute
    width 40px
    height 40px
    margin-top 6px
    right 64px

  #speedButton
    position absolute
    width: 44px
    height: 44px
    right 10px
    margin-top 6px

  #title
    position absolute
    margin-top 19px
    width 100%
    text-align center
    color black
    pointer-events none
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    z-index 1
    font-weight bold
