.cover
  position relative
  overflow hidden
  background-color $color_e

  h1
    position absolute
    font-size $font_ml
    color $color_d
    width 100%
    padding 10px
    text-align center
    top 50%
    transform translate(-50%, -50%)

  img
    position absolute
    top 50%
    left 50%
    height 100%
    width auto
    transform translate(-50%, -50%)
    -webkit-transform translate(-50%, -50%)
