.cover
  position relative
  overflow hidden
  background-color #000000

  h1
    font-size $font_l
    color $font_color1
    padding 10px

  img
    position absolute
    top 50%
    left 50%
    height auto
    width 100%
    transform translate(-50%, -50%)
    -webkit-transform translate(-50%, -50%)
