SIZE = 160px

.item
  width SIZE
  height SIZE
  margin-bottom $default_margin
  margin-right $default_margin
  display inline-block

  .cover
    width SIZE
    height SIZE

  .icon
    position absolute
    width SIZE
    height SIZE
    z-index 1

    .icon-img
      position absolute
      top 50%
      left 50%
      width auto
      height 100%
      transform translate(-50%, -50%)
      background-color #FFFFFF

      path
        fill #FFFFFF

.item.entry
  .icon
    display block

.item.feed
  .icon
    display none
