WIDTH = 200px
HEIGHT = 200px

.item
  cursor pointer
  margin-bottom $default_margin*2
  margin-right $default_margin*2
  display inline-block
  vertical-align top
  transition border-color 0.2s
  text-align center
  border-radius: 8px;
  overflow hidden
  box-sizing border-box
  border-style solid
  border-color $color_b
  border-width 2px 2px
  &:hover
    border-color $color_c

    .bot,.top
      color $color_c


  .top
    font-size $font_ss
    color $color_b
    background-color $color_a

  .mid
    position relative
    width WIDTH
    height HEIGHT

  .bot
    font-size $font_s
    background-color $color_a
    color $color_b

  .text
    width WIDTH
    z-index 1
    padding 2px

  .cover
    width WIDTH
    height WIDTH
    z-index 0

    .shadow
      position absolute
      width WIDTH
      height HEIGHT
      z-index 2
      box-shadow inset 0 0 80px #000000

  .btn
    position absolute
    width 80px
    height 80px
    z-index 3
    left 50%
    top 50%
    transform translate(-50%, -50%)
    -webkit-transform translate(-50%, -50%)
    transition opacity 0.2s
    opacity 0.1
    &:hover
      opacity 1
