.playback-btn
  cursor pointer
  display inline-block
  stroke $color_c
  fill $color_a

  #circle
    stroke $color_c
    fill $color_a

  @keyframes frames {
    0% {
      transform-origin center center
      transform rotate(0deg)
    }
    100% {
      transform-origin center center
      transform rotate(360deg)
    }
  }

  #play,#pause,#spinner
    stroke $color_c
    fill $color_c

  #spinner
    stroke $color_c
    fill $color_a
    animation frames 500ms infinite linear
