SIZE = 80px

.playback-btn
  cursor pointer
  background-color #FFF
  display inline-block

  .icon
    position absolute
    width SIZE
    height SIZE
    z-index 1

    .icon-img
      position absolute
