.playback-btn
  cursor pointer
  display inline-block

  @keyframes frames {
    0% {
      transform-origin center center
      transform rotate(0deg)
    }
    100% {
      transform-origin center center
      transform rotate(360deg)
    }
  }

  #spinner
    animation frames 500ms infinite linear
