.profile-widget
  position relative
  z-index 100

  .profile-widget-button
    display block
    border none
    background $color_b
    cursor pointer
    text-align center
    padding 0 20px
    height 100%
    transition background 0.2s ease-out
    &:hover
      background $primary_color1

      .profile-name
        color $font_color3


  .profile-avatar
    width 27px
    height 27px
    border-radius 50%
    vertical-align middle
    margin-right 10px

  .profile-name, .profile-login, .profile-logging
    color $font_color2

  &-opened

    .profile-auth-phase
      display block
      padding-top $default_margin * 2

    .profile-widget-button
      &::after
        content ""
        width 100%
        height 1px
        background $primary_color2
        position absolute
        left 0
        bottom -1px
        z-index 1

      &:hover::after
        background-color $primary_color1

.profile-auth-phase
  display none
  position absolute
  right 0
  top 100%
  background $primary_color2
  border 1px solid $layout_border_color
  width 500px
  height 180px
  text-align center

  .profile-signin-button
    border none
    width 150px
    height 50px
    line-height 50px
    color #FFF
    margin 10px
    cursor pointer

  .profile-facebook-signin
    background-color #395697
    &:hover
      background-color darken(#395697, 5)

  .profile-twitter-signin
    background-color #55acee
    &:hover
      background-color darken(#55acee, 5)
