/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 0px;
$logo_offset_x = 0px;
$logo_offset_y = 0px;
$logo_width = 24px;
$logo_height = 27px;
$logo_total_width = 43px;
$logo_total_height = 37px;
$logo_image = '../images/sprite_main.png';
$logo = 0px 0px 0px 0px 24px 27px 43px 37px '../images/sprite_main.png' 'logo';
$pause_name = 'pause';
$pause_x = 35px;
$pause_y = 13px;
$pause_offset_x = -35px;
$pause_offset_y = -13px;
$pause_width = 6px;
$pause_height = 13px;
$pause_total_width = 43px;
$pause_total_height = 37px;
$pause_image = '../images/sprite_main.png';
$pause = 35px 13px -35px -13px 6px 13px 43px 37px '../images/sprite_main.png' 'pause';
$play_name = 'play';
$play_x = 24px;
$play_y = 13px;
$play_offset_x = -24px;
$play_offset_y = -13px;
$play_width = 11px;
$play_height = 13px;
$play_total_width = 43px;
$play_total_height = 37px;
$play_image = '../images/sprite_main.png';
$play = 24px 13px -24px -13px 11px 13px 43px 37px '../images/sprite_main.png' 'play';
$rss_icon_name = 'rss-icon';
$rss_icon_x = 0px;
$rss_icon_y = 27px;
$rss_icon_offset_x = 0px;
$rss_icon_offset_y = -27px;
$rss_icon_width = 10px;
$rss_icon_height = 10px;
$rss_icon_total_width = 43px;
$rss_icon_total_height = 37px;
$rss_icon_image = '../images/sprite_main.png';
$rss_icon = 0px 27px 0px -27px 10px 10px 43px 37px '../images/sprite_main.png' 'rss-icon';
$speed_name = 'speed';
$speed_x = 24px;
$speed_y = 0px;
$speed_offset_x = -24px;
$speed_offset_y = 0px;
$speed_width = 19px;
$speed_height = 13px;
$speed_total_width = 43px;
$speed_total_height = 37px;
$speed_image = '../images/sprite_main.png';
$speed = 24px 0px -24px 0px 19px 13px 43px 37px '../images/sprite_main.png' 'speed';
$spritesheet_width = 43px;
$spritesheet_height = 37px;
$spritesheet_image = '../images/sprite_main.png';
$spritesheet_sprites = $logo $pause $play $rss_icon $speed;
$spritesheet = 43px 37px '../images/sprite_main.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
