.main-header
  position fixed
  z-index 100
  width 100%
  background-color $color_b
  height 55px
  border-bottom 1px solid $layout_border_color
  min-width $min_width

  .main-logo
    margin 14px
    float left

  .main-search
    float left

  .profile-widget
    float right
    height 100%
    line-height 55px
    border-left 1px solid $layout_border_color

  &::before, &::after
    content ""
    display table
    clear both

.main-logo
  sprite($logo)
  display block
