// Darkest Primary Color. Used as background for state background
$primary_color1 = #2b2d31

// Medium Dark Color. Used as background for sidebars/header/audioplayer
$primary_color2 = #3f4147

// Medium Light Color. Used on audioplayer progress bar
$primary_color3 = #939495

// Lightest Color. Used for searchbar background
$primary_color4 = #d2d2d2

// Dark font color. Used for light backgrounds. e.g searchbar
$font_color1 = #555555

// Medium font color. Used for medium backgrounds. e.g sidebar/header/audioplayer
$font_color2 = #aeafad

// Light font color. Used for dark backgrounds. e.g state
$font_color3 = #d2d2d2

$layout_border_color = #181818

.clearfix
  &::before, &::after
    content ""
    display table
    clear both

html
  height 100%

body
  margin 0
  height 100%
  background-color $primary_color1
  font-family 'Open Sans', sans-serif
  color $font_color3
  font-size 10px

.headline-1
  font-size 4.2em

.app-container
  height 100%

.state-container
  float left
  width calc(100% - 251px)

.headline-1
  font-size 4.2em


@import "header.styl"
@import "sidebar.styl"
@import "components/audio-player.styl"
@import 'components/item'
@import 'components/cover'
