@import 'constants'

*
  box-sizing border-box

body, input, button, select, textarea
  font-family 'Open Sans', sans-serif
  font-size 10px

body
  margin 0
  background-color $primary_color1
  color $font_color3

.headline-1
  font-size 4.2em

.app-container
  display block
  height 100vh

.state-container
  position fixed
  left 20vw
  top 0
  display inline-block
  padding 100px 32px 100vh 32px
  width 80vw
  height 100vw
  overflow auto

.headline-1
  font-size 4.2em

@import "header.styl"
@import "sidebar.styl"
@import 'section'
@import 'components/audio-player.styl'
@import 'components/searchbar.styl'
@import 'components/profile-widget.styl'
@import 'components/item'
@import 'components/item-list'
@import 'components/cover'
