.section
  padding $default_margin
  min-height 100vh
  color $color_c

  p.pagination-overview
    font-size 0.78em
    padding 18px 0
    border-top 1px solid $color_a
    background $color_b

  hr
    margin 18px 0

  ul
    margin 0 24px

  .permalink
    .rss
      margin-left 4px
      height 12px
      opacity 0.8
      transition opacity 0.2s
      a
        color $color_a
      &:hover
        opacity 1
      img
        height inherit
        display inline-block

  .play-button
    width 140px
    height 140px
    display inline-block
    vertical-align top
    float left
    border-radius 100%

  .thirdparty-content
    border-top 1px solid $color_a
    border-bottom 1px solid $color_a
    padding 18px 0

  .content
    display block
    float left
    margin-left 20px
    width calc(100% - 200px)

    img
      display block
      width 100%
      height auto

  h1
    display inline-block
    paddig 0px
    margin 0px
    margin-bottom $default_margin
    font-size $font_l
    color $color_d

    .play-button
      display inline-block
      width 38px
      height 38px
      margin 2px 0 0 8px
      float none

    // a
    //   font-size 0.5em
    //   display inline-block
    //   padding-left 90px

  button.btn
    position relative
    background none
    border none
    display inline-block
    vertical-align middle
    outline none
    top -14px

    &::before
      position absolute
      top 0
      left 0
      cursor pointer
      display inline-block
      border-radius 14px
      padding 4px 12px
      margin-left $default_margin
      background $primary_color4
      color $font_color1
      content 'Follow'

    &:hover
      &::before
        background #fffce0
        color #3e4147

    &.is-following
      &::before
        background #fffce0
        color #3e4147
        content 'Following'
      // &:hover
      //   &::before
