.section
  padding $default_margin
  min-height 100vh

  .permalink
    .rss
      margin-left 4px
      height 12px
      opacity 0.8
      transition opacity 0.2s
      &:hover
        opacity 1
      img
        height inherit
        display inline-block

  .play-button
    width 140px
    height 140px
    display inline-block
    background-color #CCC
    vertical-align top
    float left
    border-radius 100%

  .content
    display block
    float left
    margin-left 20px
    width calc(100% - 200px)

    img
      display block
      width 100%
      height auto

  h1
    display inline-block
    paddig 0px
    margin 0px
    margin-bottom $default_margin
    font-size $font_l

  .title
    paddig 0px
    margin 0px
    margin-bottom $default_margin
    font-size $font_l

  button.follow-btn
    position relative
    background none
    border none
    display inline-block
    vertical-align middle
    outline none
    top -14px

    &::before
      position absolute
      top 0
      left 0
      cursor pointer
      display inline-block
      border-radius 14px
      padding 4px 12px
      margin-left $default_margin
      background $primary_color4
      color $font_color1
      content 'Follow'

    &:hover
      &::before
        background #fffce0
        color #3e4147

    &.is-following
      &::before
        background #fffce0
        color #3e4147
        content 'Following'
      // &:hover
      //   &::before
