.main-sidebar
  display fixed
  left 0
  top 0
  background-color $primary_color2
  padding 84px 14px
  height 100vh
  width calc(20vw - 1px)
  border-right 1px solid $layout_border_color

  h3
    margin-top $default_margin * 2
    text-transform uppercase
    font-size 0.8em

  ul
    list-style none
