.main-sidebar
  display fixed
  left 0
  top 0
  background-color $color_b
  padding 52px 14px
  height 100vh
  width calc(20vw - 1px)
  // border-right 1px solid $layout_border_color

  h3
    margin-top $default_margin * 2
    margin-bottom 6px

  ul
    list-style none

    li
      margin-bottom 1px

    li, a
      display block

    a
      border-radius 20px
      padding 4px 10px
      transition background 0.2s
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

      > span.unread
        border-radius 10px
        text-align center
        width 14px
        height 14px
        display inline-block
        font-size 0.7em
        background #543130
        color #fffce0 !important

      &:hover
        background rgba(255,252,224, 0.7)
        color #3f4147

      &.active
        background #fffce0
        color #3f4147
